* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(3, 1fr)/repeat(6, 1fr);
  padding: 10px;
  grid-gap: 10px;
  background-color: #333;
}

.goalCard {
  position: relative;
  height: 100%;
  width: 100%;
  color: #dfdfdf;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  cursor: pointer;
}

.goalCard .cardFront, .goalCard .cardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.goalCard .cardFront span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: #dfdfdf;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.goalCard .cardBack {
  padding: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  font-size: 0.8em;
}

.goalCard .cardBack span {
  margin-top: 5px;
}

.goalCard:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
