* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 15% auto;
      grid-template: 100% / 15% auto;
      grid-template-areas: 'nav main';
}

body nav {
  background-color: #444;
}

body main {
  background-color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body main #button_span {
  position: fixed;
  bottom: 10%;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body main #button_span button {
  margin: 0 10px;
  padding: 5px;
  text-transform: uppercase;
}

body main #card_container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 65%;
  background-color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

body main #card_container .card {
  width: 16vw;
  height: 70%;
  margin: 25px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body main #card_container .card .cardFront, body main #card_container .card .cardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body main #card_container .card .cardFront {
  background-color: #333;
  position: relative;
  background-position: center;
  background-size: cover;
}

body main #card_container .card .cardFront svg {
  position: absolute;
  right: 20px;
  bottom: 20px;
  fill: #dfdfdf;
  height: 10%;
  z-index: 10;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
}

body main #card_container .card .cardFront h2 {
  width: 80%;
  z-index: 10;
  text-transform: uppercase;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

body main #card_container .card .cardFront .overlay {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
}

body main #card_container .card .cardBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body main #card_container .card .cardBack p {
  width: 80%;
}

body main #card_container .card.active {
  -webkit-transform: rotateY(180deg) scale(1.15);
          transform: rotateY(180deg) scale(1.15);
}

body #details_container {
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #details_container .card_details {
  width: 30%;
  height: 80%;
  overflow-y: scroll;
}
