* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    padding: 10px;
    grid-gap: 10px;
    background-color: #333;
}

.goalCard {
    position: relative;
    height: 100%;
    width: 100%;
    color: #dfdfdf;
    box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.6);
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;

    .cardFront, .cardBack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        backface-visibility: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .cardFront {
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: #dfdfdf;
            text-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.6);
            height: 100%;
            width: 100%;
        }
    }

    .cardBack {
        padding: 10px;
        transform: rotateY(180deg);
        font-size: 0.8em;

        span {
            margin-top: 5px;
        }
    }

    &:hover {
        transform: rotateY(180deg);
    }
}