* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 100% / 15% auto;
    grid-template-areas: 'nav main';
    
    nav {
        background-color: rgb(223,174,75);

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3em;
            transform: rotate(-90deg);
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
            color:#dfdfdf;
        }
    }

    main {
        background: rgb(223,174,75);
        background: linear-gradient(225deg, rgba(223,174,75,1) 0%, rgba(51,198,207,1) 100%);
        display: flex;
        align-items: center;
        overflow: hidden;

        #button_span {
            position: fixed;
            bottom: 10%;
            left: 50%;
            width: fit-content;
            height: fit-content;

            button {
                margin: 0 10px;
                padding: 15px;
                text-transform: uppercase;
                cursor: pointer;
                border: none;
                font-size: 1em;
                font-weight: 900;
                background-color: none;
                background-color: rgb(223,174,75);
                color: #dfdfdf;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        #card_container {
            width: fit-content;
            height: 65%;
            // background-color: #555;
            display: flex;
            align-items: center;
            padding: 20px;

            .card {
                width: 16vw;
                height: 70%;
                margin: 25px;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);

                //dette er for at den kan flippe
                position: relative;
                perspective: 1000px;
                transform-style: preserve-3d;
                transition: 1s ease-in-out;

                .cardFront, .cardBack {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    color: #dfdfdf;
            
                    //dette er for at centrerer elementerne inden i disse klasser
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                }

                .cardFront {
                    background-color: #333;
                    position: relative;

                    //for at tilpasse baggrundsbilledet
                    background-position: center;
                    background-size: cover;

                    svg {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                        fill: #dfdfdf;
                        height: 10%;
                        z-index: 10;
                        filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
                    }

                    h2 {
                        width: 80%;
                        z-index: 10;
                        text-transform: uppercase;
                        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
                    }

                    .overlay {
                        background-color: black;
                        opacity: 0.4;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
                .cardBack {
                    //dette er for at teksten ikke er spejlvendt
                    transform: rotateY(180deg);

                    p {
                        width: 80%;
                    }
                }

                &.active {
                    transform: rotateY(180deg) scale(1.15);
                    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    #details_container {
        width: 100%;
        height: 100vh;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(4px);
        color: #dfdfdf;

        display: none;
        align-items: center;
        justify-content: center;

        .card_details {
            width: 30%;
            height: 80%;
            overflow-y: scroll;

            padding: 20px;

            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            p {
                margin-bottom: 20px;
            }
        }
    }
}